/* General base type */

.general {
    font-family: 'Lily Script One', cursive;
    font-size: 1.5rem;
}

.calm {
    /* round and thin (calm, tame, soft) */
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
    /* top: 8rem; */
    /* left: 13rem; */
}

.stable {
    font-family: 'Bungee', cursive;
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

/* specifics/sections */

.a {
    top: 3rem;
    left: 1rem;
}

.a2 {
    top: 10rem;
    left: 24rem;
}

.tumtum {
    font-size: 6rem;
    left: 2rem;
    top: 5rem;
    font-family: Fairies;
}

.tree {
    font-size: 6rem;
    left: 14.5rem;
    top: 12rem;
    font-family: Fairies;
    line-height: 4rem;
}

.b {
    top: 11rem;
    left: 18rem;
}

.c {
    top: 13rem;
    left: 27rem;
}

.imagine {
    font-family: 'Chewy', cursive;
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
}