/* General base type */

.general {
    font-family: 'Lily Script One', cursive;
    font-size: 1.5rem;
}

.calm {
    /* round and thin (calm, tame, soft) */
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
}

.stable {
    font-family: 'Bungee', cursive;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
}

/* specifics/sections */

.a {
    top: 4.5rem;
    left: 6rem;
}

.a2 {
    top: 10rem;
    left: 24rem;
}

.tumtum {
    font-size: 5.5rem;
    left: 1rem;
    top: 5rem;
    font-family: Spiral;
}

.tree {
    font-size: 6rem;
    left: 9.5rem;
    top: 12rem;
    font-family: Spiral;
    line-height: 4rem;
}

.b {
    top: 17rem;
    left: 18rem;
    line-height: 1.8rem;
    text-align: right;
}


.imagine {
    font-family: 'Chewy', cursive;
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
}